body {
    background-color: lightblue;
    color: rgb(246, 34, 69);
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
header {
    background-color: lightblue;
    color: rgb(246, 34, 69);
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
main {
    background-color: lightblue;
    color: rgb(246, 34, 69);
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
footer {
    background-color: lightblue;
    color: rgb(246, 34, 69);
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
