body {
    background-color: lightblue;
    color: rgb(246, 34, 69);
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
header {
    background-color: lightblue;
    color: rgb(246, 34, 69);
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
main {
    background-color: lightblue;
    color: rgb(246, 34, 69);
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
footer {
    background-color: lightblue;
    color: rgb(246, 34, 69);
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
a {
    color: blueviolet;
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    color: brown;
    text-decoration: line-through;
}
a:visited {
    color: rgb(188, 16, 154);
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline !important;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
} 
